body {
    font-family: "Arimo", sans-serif;
    background-color: #FAF8F2;
    margin-top: 10px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 40px;
}

.header {
    text-align: left;
}

h1 {
    font-size: 5em;
}

.thick-heading {
    font-weight: 700; /* Giá trị cao nhất để có độ dày tối đa */
}

h1 .highlight {
    color: #150D59;
    font-weight: 700;
}

.container {
    width: 100%;
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.beautiful {
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    width: 45%;
    text-align: left;
}

.beautiful img {
    float: left;
    object-fit: contain;
    max-width: 50%;
    height: auto;
}

.beautiful p {
    margin-top: 10px;
}

.construction {
    display: flex;
    gap: 50px;
    box-sizing: border-box;
    width: 45%;
    text-align: left;
}

.construction img {
    float: left;
    object-fit: contain;
    max-width: 50%;
    height: auto;
}

.construction p {
    margin-top: 10px;
}

footer {
    font-size: 20px;
    position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 100px;
    padding-bottom: 40px;
    text-align: right;
}

/* Responsive styles */
@media (max-width: 768px) {
    body {
        padding: 10px;
    }
    .beautiful {
        display: flexbox;
        width: 100%;
        margin: 10px 0;
    }
    .construction {
        width: 100%;
        margin: 10px 0;
    }
    .beautiful img {
        width: 100%;
    }
    .construction img {
        width: 100%;
    }

    footer {
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .header img {
        width: 40%;
    }

    h1 {
        font-size: 2.5em;
    }
    
    .text1 {
        display: block;
    }
    .construction {
        width: 100%;
        margin: 10px 0;
    }
    
}
